body {
  margin: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  background-color: #02080e;
  overflow-x: hidden;
}

.header {
  padding: 2% 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.gradient-background {
  position: absolute;
  background: radial-gradient(100% 100% at center, #38264e 0%, #02080e 40%);
  height: 185%;
  width: 150%;
  top: -77%;
  left: -65%;
  z-index: -10;
}

.logo {
  width: 15rem;
  filter: brightness(0.8) contrast(1.2);
}

.login {
  margin-left: auto;
  background: linear-gradient(to right, #dc9ebf, #a05dd5, #6c31da);
  color: #fff;
  border: none;
  margin-top: 32px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

.login:hover {
  background-color: #008c9e;
}

/* banner */

.banner-container {
  display: flex;
  color: #fbfafe;
  padding: 3rem;
  text-align: left;
  width: 90%;
  height: 72vh;
  margin-left: 5%;
}

.banner-text {
  width: 600px;
}

.banner-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-weight: 350;
}

.banner-text p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.gradient-two {
  position: absolute;
  background: radial-gradient(100% 100% at center, #38264e92 0%, #02080e00 40%);
  height: 185%;
  width: 150%;
  top: 15%;
  left: 15%;
  z-index: -10;
}

/* Call-to-Action Button */
.cta-button {
  background: linear-gradient(to right, #dc9ebf, #a05dd5, #6c31da);
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
  transform: scale(1.05);
}

.cta-button:active {
  transform: scale(1);
}

.lottie-container {
  width: 50%;
  size: 30%;
  z-index: 1;
  margin-left: 5%;
}

.globe {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* blockquote */

.blockquote {
  padding: 4% 4%;
}

.blockquote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  overflow: hidden;
}

.quote {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 30px;
  border-radius: 2rem;
  border: 1px solid #38264e;
}

.quote img {
  width: 400px;
  height: auto;
  margin-bottom: 15px;
  mix-blend-mode: lighten;
}

.quote p{
  font-size: 1.1rem;
  background: linear-gradient(to right, #888, #222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.6;
  margin: 0;
}

.quote .author {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.gradient-three{
  position: absolute;
  background: radial-gradient(100% 100% at center, #38264e92 0%, #02080e00 40%);
  height: 185%;
  width: 150%;
  top: 145%;
  left: -68%;
  z-index: -10;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}






/* Features */
.features-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.features {
  font-size: 3rem;
  margin-bottom: 50px;
  background: linear-gradient(to right, #888, #222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-container{
  display: flex;
  position: absolute;
  gap: 5%;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card{
  width: 300px;
  color: #fbfafe;
  border: 1px solid #624288c7;
  border-radius: 2rem;
}


.cart-one{
  top: 45%;
  height: 300px;
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.077);
}


.cart-two{
  top: 45%;
  bottom: 2%;
  height: 300px;
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.077);
}

.cart-three{
  top: 45%;
  height: 300px;
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.077);
}

.features-title{
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: linear-gradient(to right,#888, #222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-tital{
  font-size: 20px;
  top: 5rem;
  position: absolute;
  text-align: left;
  color: #b18bee;
  font-weight: 400;
  padding: 20px;
  display: flex;
  line-height: 30px;
}

.card-subtitle{
  font-size: 15px;
  bottom: 0;
  position: absolute;
  text-align: left;
  color: #c2c2c29e;
  display: flex;
  font-weight: 400;
  padding: 20px;
  line-height: 25px;
}


.card-reveal{
  position: relative;
  transform:translateX(-150px);
  opacity: 0;
  transition: all 1s ease;
}

.card-reveal.active{
  transform: translateX(0px);
  opacity: 1;
}

.gradient-forth {
  position: absolute;
  background: radial-gradient(100% 100% at center, #38264e92 0%, #02080e00 40%);
  height: 185%;
  width: 150%;
  top: 230%;
  left: 15%;
  z-index: -10;
}


/* About */
/* 
#set-height {
  display: block;
  position: relative;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
} */







.about-container {
  text-align: center;
  margin-top: 100px;
}

.mockup {
  display: inline-block;
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 0;
  perspective: 2400px;
  perspective-origin: 50% 100%;
  opacity: 0;
  transition: 500ms opacity;
}

.mockup.loaded {
  opacity: 1;
}

.mockup .part .top,
.mockup .part .bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.mockup .part.top {
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup.opened .part.top {
  transform: translate3d(0, 0, 0) rotateX(0deg);
}

.mockup .part {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  transition: 900ms;
}

.mockup.opened .part .top {
  transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
}

.mockup .part .top {
  transform-origin: 50% 0;
  transform: translate3d(0, 0, -11px) rotateX(90deg);
  transition: 900ms;
}

.mockup img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  filter: hue-rotate(270deg); /* Color transformation */
}

.mockup .part .cover {
  position: relative;
  background-color: #38264e;
  filter: hue-rotate(270deg); /* Adjust color */
}

.mockup video {
  display: block;
  position: absolute;
  top: 8%;
  left: 4%;
  width: 92%;
  border-radius: 6px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 1px);
}

.mockup .part.bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0,0,0) rotateX(90deg);
}


.laptop{
  mix-blend-mode: lighten;
}